@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-select option {
  padding: 10px;
}

.toast-modal {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.toast-modal-body {
  font-size: 14px;
}
